body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  z-index: 1000;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul h1 {
  color: #ffd700;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  color: #ffd700;
}

section {
  padding: 300px 20px 20px;
}

section h2 {
  color: #333;
}

section p {
  color: #666;
}
