

img {
  display: block; /* 画像をブロック要素に変更し、水平方向の中央配置のためにmarginをautoに設定 */
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  position: fixed;
  width: 100%; /* メニューの幅が100%になるように指定 */
  top: 0; /* ページの上端に固定 */

}

#title {
  text-align: center; /* テキストを中央に配置 */
  margin: 0px 50px 0px 0px; /* 左右の余白を自動で均等に設定 */
  color: #ffd700; /* テキストの色を白に設定（任意の色に変更可能） */
}

.navbar {
  background-color: #333;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-menu {
  cursor: pointer;
}

.line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

.menu {
  display: none;
}



.menu.show-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 15px;
  background-color: #333;
  padding: 10px;
}

.menu.show-menu a {
  color: white;
  text-decoration: none;
  padding: 8px;
}


.cost {
  background-color: #333;
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0px 0px 0px 60px;
  text-decoration: none;
  font-weight: bold;
}

.cost a {
  color: white;
}

.cost li {
  margin-right: 20px;
}

section {
  padding: 75px 20px 20px;
}

section h2 {
  color: #333;
}

section p {
  color: #666;
}

.section02 {
  padding: 75px 0px 0px;
}

.mokuji {
  border: 2px solid #000; /* 枠線のスタイルを指定します */
  border-radius: 5px; /* 角丸にする場合に指定します */
  padding: 10px; /* 目次と枠の間のスペースを調整します */
}
